<% @comments ||= comments %>
<div id="comments">
  <% if @comments.empty? %>
    <div id="no-comments">There are no comments yet.</div>
  <% else %>
    <%= render :partial => 'comments/comment', :collection => @comments %>
  <% end %>
</div>
