<%= div_for comment, class: 'well well-small' do %>
<div class="row-fluid">
  <div class="span3">
    <div class="by">
      <%= render 'users/commenter', user: comment.user %>
    </div>
  </div>
  <div class="span9">
    <div class="comment-body">
      <%= simple_format comment.comment %>
    </div>
    <span class="timestamp pull-right"><%= comment.created_at.to_s(:am_pm_long) %></span>
  </div>
</div>
<% end %>
