<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @user %>
      <%= @user.display_name %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if user_signed_in? %>
  </div>
</div>
