<h3>All Topics &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h3>
<p>Choose a topic of your interest to browse papers and enter discussions.</p>
<div
  class="row-fluid">
  <div class="span4">
    <a class="btn btn-block text-center btn-info" href="#">Anthropology</a>
    <a class="btn btn-block text-center btn-info" href="#">Economics</a>
    <a class="btn btn-block text-center btn-info" href="#">History</a>
    <a class="btn btn-block text-center btn-info" href="#">Language &amp; Literature</a>
  </div>
  <div class="span4">
    <a class="btn btn-block text-center btn-info" href="#">Management</a>
    <a class="btn btn-block text-center btn-info" href="#">Marketing</a>
    <a class="btn btn-block text-center btn-info" href="#">Natural Sciences</a>
    <a class="btn btn-block text-center btn-info" href="#">Other</a>
  </div>
  <div class="span4">
    <a class="btn btn-block text-center btn-info" href="#">Philosophy</a>
    <a class="btn btn-block text-center btn-info" href="#">Psychology</a>
    <a class="btn btn-block text-center btn-info" href="#">Sociology</a>
    <a class="btn btn-block text-center btn-info" href="#">Political Science</a>
  </div>
</div>
