<div class="hero-unit">
  <h1>web
    <span style="font-weight: normal;">lish</span>
  </h1>
  <p>Share your work. Brand yourself. Nerd out.</p>
  <p>
  <a class="btn btn-success btn-large" href="<%= new_user_registration_path %>">Sign Up</a>
  </p>
</div>
<div class="row"></div>
<div class="row">
  <div class="span4">
    <div class="well">
      <h3>Share Your Work.</h3>
      <p>All those hours in the library, all those chats over assorted beverages,
      all those nights of typing and editing...share them with more than just
      your TA. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Brand Yourself.</h3>
      <p>Grad student? Researcher? Quasi-academic? Publish your work and get it
      peer reviewed for colleagues and potential employers to see. &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp;&nbsp;</p>
      <p></p>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Nerd out.</h3>
      <p>You love chatting about your robotics research, gabbing about the working
      class revolution, or debating over what Shakespeare
      <i>really</i> &nbsp;meant. Find like-minded souls who share your passions.</p>
      <p></p>
    </div>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span4">
    <div class="well well-large">
      <h3>All Topics &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h3>
      <p>Choose a topic of your interest to browse papers and enter discussions.</p>
      <div
        class="row-fluid">
        <div class="span4">
          <a class="btn btn-block text-center btn-info" href="#">Anthropology</a>
          <a class="btn btn-block text-center btn-info" href="#">Economics</a>
          <a class="btn btn-block text-center btn-info" href="#">History</a>
          <a class="btn btn-block text-center btn-info" href="#">Language &amp; Literature</a>
        </div>
        <div class="span4">
          <a class="btn btn-block text-center btn-info" href="#">Management</a>
          <a class="btn btn-block text-center btn-info" href="#">Marketing</a>
          <a class="btn btn-block text-center btn-info" href="#">Natural Sciences</a>
          <a class="btn btn-block text-center btn-info" href="#">Other</a>
        </div>
        <div class="span4">
          <a class="btn btn-block text-center btn-info" href="#">Philosophy</a>
          <a class="btn btn-block text-center btn-info" href="#">Psychology</a>
          <a class="btn btn-block text-center btn-info" href="#">Sociology</a>
          <a class="btn btn-block text-center btn-info" href="#">Political Science</a>
        </div>
      </div>
    </div>
  </div>
  <div class="span4">
    <h3>Popular Papers</h3>
    <%= render partial: 'documents/teaser', collection: Document.popular.last(3) %>
  </div>
  <div class="span4">
    <h3>Popular Discussions</h3>
    <div class="media">
      <a class="pull-left" href="#"></a>
      <div class="media-body">
        <div class="well">
          <div class="media">
            <a class="pull-left" href="#"></a>
            <div class="media-body">
              <h4 class="media-heading">In History</h4>
              <p>
              <i>"Veniam sapiente doloremque possimus eveniet iusto, accusantium aliquid doloribus quos deleniti ratione, ullamco illo recusandae molestias laborum veritatis conse"</i>
              </p>
            </div>
          </div>
        </div>
        <div class="well">
          <div class="media">
            <a class="pull-left" href="#"></a>
            <div class="media-body">
              <h4 class="media-heading">In Political Science</h4>
              <p>
              <i>"Veniam sapiente doloremque possimus eveniet iusto, accusantium aliquid doloribus quos deleniti ratione, ullamco illo recusandae molestias laborum veritatis conse"</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="media">
      <a class="pull-left" href="#"></a>
      <div class="media-body"></div>
    </div>
  </div>
</div>
