<header id='hd'>
  <div class='logo'>
    <div class='wrapper'>
      <h1><a href="#">Stubin</a></h1>
      <div class='right'>
        <ul class="unstyled">
          <li>About</li>
          <li>
            <a href="#">Sign in</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <nav>
    <div class='wrapper'>
      <div class='top-menu'>
        <ul>
          <li>Everything</li>
          <li>Videos</li>
          <li>Discussions</li>
          <li>Gifts</li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class='wrapper'>
  <div id='bd'>
    <div class='wrapper'>
      <div id='masonry'>
        <div class='item'>
          <img alt="" width="192px" height="340px" src="http://placehold.it/192x340px/b981a5/305eb8&text=quae" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            2
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/58d7a1/b1ae63&text=eos" />
              <b>Liliana Hardin</b>
              via
              <b>Cara Mangum</b>
              onto
              <b>dolores</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="170px" src="http://placehold.it/192x170px/5f03ec/578cd0&text=natus" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/8c5e41/47feb9&text=eveniet" />
              <b>Melinda Monroe</b>
              via
              <b>Lucinda Chung</b>
              onto
              <b>dolorem eligendi</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/614c7a/6ae301&text=consequatur" />
              <b>Gordon Middleton</b>
              <p>Beatae ipsam numquam culpa ut minima ut consequatur consequatur</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="260px" src="http://placehold.it/192x260px/2d45e1/69adb2&text=earum" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            6
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/2ec4db/94cd56&text=asperiores" />
              <b>Elise Clapp</b>
              via
              <b>Alexa Adkins</b>
              onto
              <b>magni</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="160px" src="http://placehold.it/192x160px/6cf8eb/c0ef28&text=facilis" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            7
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/e8753c/4c25be&text=adipisci" />
              <b>Marianne Bender</b>
              via
              <b>Joey Underwood</b>
              onto
              <b>sed</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/fd4a26/d9c3ba&text=similique" />
              <b>Melinda Chappell</b>
              <p>Omnis nisi minus unde veritatis laudantium consectetur odit quos voluptatem ipsa inventore rerum tempore ipsum</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="240px" src="http://placehold.it/192x240px/fa1063/43e509&text=quo" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            10
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/ce4f08/fd5621&text=maiores" />
              <b>Wayne Beasley</b>
              via
              <b>Javon Morgan</b>
              onto
              <b>dolorem esse</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/5cd81b/30a6d7&text=pariatur" />
              <b>Grady Christian</b>
              <p>Qui voluptatum veritatis quia mollitia consequatur voluptatum maiores et quae est atque nesciunt</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/a935dc/93dc7a&text=ab" />
              <b>Zachariah Hester</b>
              <p>Numquam quae non animi quasi sit nobis similique autem omnis</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="240px" src="http://placehold.it/192x240px/871543/3619be&text=rem" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            3
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/30df7c/db237c&text=quia" />
              <b>Caitlyn O'Donnell</b>
              via
              <b>Casey Coleman</b>
              onto
              <b>quod cumque</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="210px" src="http://placehold.it/192x210px/d70269/5efa46&text=cum" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            2
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/32cd79/651fc7&text=qui" />
              <b>Virgil Rich</b>
              via
              <b>Staci Carver</b>
              onto
              <b>ut</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="250px" src="http://placehold.it/192x250px/76049e/7c9da1&text=facilis" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            6
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/e79da8/26f57d&text=voluptatem" />
              <b>Hudson Weinstein</b>
              via
              <b>Aniya Stone</b>
              onto
              <b>animi earum</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="160px" src="http://placehold.it/192x160px/db2e0f/b31246&text=fuga" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            2
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/da5031/1e9057&text=expedita" />
              <b>Emma Mangum</b>
              via
              <b>Abel Hunt</b>
              onto
              <b>consectetur</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/43f752/20ad56&text=omnis" />
              <b>inley Wagner</b>
              <p>Ad aut similique et deleniti sed eum sit alias mollitia</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="260px" src="http://placehold.it/192x260px/b8209a/32dfb7&text=non" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/bd1e47/e59a2d&text=sunt" />
              <b>Ciara Eason</b>
              via
              <b>Eric Ross</b>
              onto
              <b>voluptatem necessitatibus voluptas</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/e5f910/168b59&text=enim" />
              <b>Angelo Hatcher</b>
              <p>Qui ut est totam nemo reiciendis rerum hic</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="170px" src="http://placehold.it/192x170px/51f3a8/680d24&text=id" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            3
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/c13842/4d6c7a&text=pariatur" />
              <b>Don Pittman</b>
              via
              <b>Nadia Monroe</b>
              onto
              <b>repellat</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/2d6498/e2643d&text=blanditiis" />
              <b>Sonja Connolly</b>
              <p>Natus soluta repudiandae dolor aut veniam voluptas sed voluptatem accusamus</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="260px" src="http://placehold.it/192x260px/c56de0/49d3fe&text=autem" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            1
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/6385c7/652b1c&text=ut" />
              <b>Abigail Underwood</b>
              via
              <b>Alonzo Rollins</b>
              onto
              <b>in</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/0abc15/59e128&text=officiis" />
              <b>Alexa Farrell</b>
              <p>Quam ab quia possimus aspernatur quisquam nihil accusamus blanditiis provident</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="170px" src="http://placehold.it/192x170px/2eb56c/dc842f&text=aut" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            10
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/95a4b2/49fe7c&text=ut" />
              <b>Constance Robertson</b>
              via
              <b>Alfredo Bowman</b>
              onto
              <b>eligendi dolorem</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="170px" src="http://placehold.it/192x170px/ca1d36/a86095&text=sed" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            8
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/7e05f9/9465ab&text=exercitationem" />
              <b>Billy Monroe</b>
              via
              <b>Clinton Harvey</b>
              onto
              <b>accusamus</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/c6a08d/e79c35&text=incidunt" />
              <b>Ewan Floyd</b>
              <p>Suscipit sunt consectetur ut ut culpa omnis consequuntur aut</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/d709bc/8a2136&text=qui" />
              <b>Maisie Holloway</b>
              <p>Est id vel maiores officia</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="270px" src="http://placehold.it/192x270px/bdae57/2fa6b7&text=et" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            6
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/0275f1/5c03eb&text=eum" />
              <b>John Allen</b>
              via
              <b>Maisie Reid</b>
              onto
              <b>labore commodi aut</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="310px" src="http://placehold.it/192x310px/839af6/c34692&text=animi" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            3
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/8f569e/1c2b8e&text=nesciunt" />
              <b>Marsha Griffin</b>
              via
              <b>Preston Jones</b>
              onto
              <b>magnam</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/3ba04e/27e4ab&text=dolores" />
              <b>Cindy Lucas</b>
              <p>Qui quos vero quod omnis sequi ut et autem debitis nihil</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="320px" src="http://placehold.it/192x320px/5e0a24/b5fd01&text=sed" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/1ecd9b/07fc58&text=aut" />
              <b>Ida Gray</b>
              via
              <b>Michelle Sutton</b>
              onto
              <b>iure</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/2b5d04/07365b&text=qui" />
              <b>Skylar Chang</b>
              <p>Ut rerum ducimus at ipsa adipisci</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/3260f4/17e064&text=provident" />
              <b>Bryce Eason</b>
              <p>Illum magni omnis labore dolore</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="310px" src="http://placehold.it/192x310px/86ba07/c740f3&text=illum" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            7
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/780f3d/16eb43&text=ex" />
              <b>Carley Jones</b>
              via
              <b>Reid Proctor</b>
              onto
              <b>eum sit</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/a3294e/d60892&text=et" />
              <b>Daryl Cross</b>
              <p>Qui ut dolor totam dolorem omnis excepturi nihil blanditiis non placeat nostrum aut</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="200px" src="http://placehold.it/192x200px/af60b1/9d4cab&text=quos" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/4268b3/e1df04&text=dolore" />
              <b>Javon MacDonald</b>
              via
              <b>Clyde O'Brien</b>
              onto
              <b>ex aspernatur</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/d0b7ea/5d967b&text=quia" />
              <b>Kelly Alexander</b>
              <p>Repellendus earum autem aut</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="270px" src="http://placehold.it/192x270px/b4d629/a1d026&text=dolorem" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            4
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/4da291/6b8317&text=blanditiis" />
              <b>Niall Sinclair</b>
              via
              <b>Katie Chung</b>
              onto
              <b>beatae possimus</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="150px" src="http://placehold.it/192x150px/b178fe/a78bce&text=non" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/5f936e/05d61b&text=omnis" />
              <b>Aniya Black</b>
              via
              <b>Earl Davis</b>
              onto
              <b>rerum soluta et</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/9ca2f0/bf38c2&text=debitis" />
              <b>Colm McNeill</b>
              <p>Saepe necessitatibus autem rerum temporibus non hic pariatur sit non ea voluptas eligendi voluptatem</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="330px" src="http://placehold.it/192x330px/54ed28/12703f&text=atque" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            7
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/c4163e/78a1df&text=et" />
              <b>Giselle Weiner</b>
              via
              <b>Beau Norman</b>
              onto
              <b>aut</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="310px" src="http://placehold.it/192x310px/186b25/452fac&text=quisquam" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            6
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/21f590/19680b&text=in" />
              <b>Xena Sharpe</b>
              via
              <b>Camila Black</b>
              onto
              <b>molestiae</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/7a310e/de719c&text=deleniti" />
              <b>Alexis Heath</b>
              <p>Voluptatibus ratione quis ut veritatis exercitationem rerum</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/7f968e/d7c83f&text=voluptas" />
              <b>Carley Dougherty</b>
              <p>Est optio ea soluta neque expedita</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="190px" src="http://placehold.it/192x190px/083ae9/3a4270&text=saepe" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            2
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/094b2a/fb782d&text=eum" />
              <b>Tomas Fox</b>
              via
              <b>Mya Olsen</b>
              onto
              <b>voluptatem quidem</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/9df20a/f12b9e&text=est" />
              <b>Beth Perkins</b>
              <p>Voluptates voluptates nulla quas aut sapiente velit et alias est placeat odit a</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/dfb146/a7cb03&text=inventore" />
              <b>Daren Hatcher</b>
              <p>Modi sit distinctio quis quod debitis</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="150px" src="http://placehold.it/192x150px/eab305/842eac&text=cum" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            9
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/43e27b/7afd69&text=nobis" />
              <b>Niall Hill</b>
              via
              <b>Makenzie Kennedy</b>
              onto
              <b>odio molestiae vero</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/2f61bd/89db5e&text=sapiente" />
              <b>Luis Tilley</b>
              <p>Fugit harum modi enim qui aut alias quisquam maxime deserunt praesentium doloremque et ab in</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/59e1cb/ab4805&text=sit" />
              <b>Clinton James</b>
              <p>Voluptas veritatis eum veniam id quaerat distinctio voluptas soluta aut nam qui</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="340px" src="http://placehold.it/192x340px/417c0a/9dc158&text=provident" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            6
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/d798ce/c736f8&text=eligendi" />
              <b>Kelly Allen</b>
              via
              <b>Reese Hewitt</b>
              onto
              <b>id est omnis</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/2df35b/d0cf94&text=perspiciatis" />
              <b>Jerald Black</b>
              <p>Eligendi unde rerum provident dignissimos ratione</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="340px" src="http://placehold.it/192x340px/152aed/5074f2&text=doloremque" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            9
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/ac98fd/a09f81&text=aut" />
              <b>Kristi Rodgers</b>
              via
              <b>Katie Chung</b>
              onto
              <b>aut</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/03675c/a648cf&text=officiis" />
              <b>Niall Chung</b>
              <p>Fugit non voluptatem laboriosam et voluptas reiciendis itaque placeat corrupti accusantium aliquid voluptatem perferendis quam</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="310px" src="http://placehold.it/192x310px/1ab4f8/45698f&text=tempore" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/ae7f8d/16b34d&text=eos" />
              <b>Yehudi Middleton</b>
              via
              <b>Nolan Coleman</b>
              onto
              <b>deleniti dolorem</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/dce50f/d650a9&text=sint" />
              <b>Davion Bowling</b>
              <p>Commodi veniam dicta voluptatum eum at sint libero cumque quas voluptatem dolores</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="240px" src="http://placehold.it/192x240px/6fa297/9cd275&text=illum" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            2
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/d0419f/0fe618&text=voluptas" />
              <b>Carmen Baker</b>
              via
              <b>Alexa Jennings</b>
              onto
              <b>qui culpa</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/283a0c/405cef&text=a" />
              <b>Jean Heath</b>
              <p>Ut facilis consequatur est maiores sint</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/190a2c/a43561&text=iste" />
              <b>Emiliano Christensen</b>
              <p>Cupiditate nihil fugiat est dolor impedit totam distinctio</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="220px" src="http://placehold.it/192x220px/45d98f/e28a69&text=quasi" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/b5ed72/08416e&text=impedit" />
              <b>Jackie Barr</b>
              via
              <b>Nolan Goldstein</b>
              onto
              <b>et voluptates excepturi</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="200px" src="http://placehold.it/192x200px/2ac07f/5a16d7&text=earum" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            4
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/d92e87/fdb45a&text=harum" />
              <b>Elias Chappell</b>
              via
              <b>Madeline Watts</b>
              onto
              <b>perferendis</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="210px" src="http://placehold.it/192x210px/65ab90/d398c0&text=nam" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            10
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/d724e5/ace4fd&text=qui" />
              <b>Alberto Cross</b>
              via
              <b>Alyson Johnston</b>
              onto
              <b>quia quo</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/61cdf5/ae754b&text=dolorem" />
              <b>Neil Singer</b>
              <p>Expedita accusamus aut rem odio dolorem ea quia et fuga dolore sed culpa natus pariatur</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/87fac0/10e3bc&text=veritatis" />
              <b>Alyson Waters</b>
              <p>Quam id architecto impedit vel aut aut veritatis itaque aut quia</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="270px" src="http://placehold.it/192x270px/498ae1/e78562&text=odio" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/1b9635/5291f7&text=nostrum" />
              <b>Joey Heath</b>
              via
              <b>Harrison Johnston</b>
              onto
              <b>magnam</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/6b7e49/da0634&text=molestiae" />
              <b>Maggie Bender</b>
              <p>Repellendus cum aut doloribus corporis corporis sit minima iure optio</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/20c168/18a7ef&text=doloribus" />
              <b>Beth Ross</b>
              <p>Ab sequi iusto quaerat fugiat provident quasi possimus</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="240px" src="http://placehold.it/192x240px/f9ed16/c1d945&text=cupiditate" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            6
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/ef38a5/c4015e&text=sit" />
              <b>Shawn Reid</b>
              via
              <b>Skyler Chandler</b>
              onto
              <b>eveniet quasi</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="280px" src="http://placehold.it/192x280px/637a4e/61435b&text=assumenda" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            4
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/2a0c47/e51fd9&text=non" />
              <b>Dominick Garrett</b>
              via
              <b>Gordon Abbott</b>
              onto
              <b>et</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="270px" src="http://placehold.it/192x270px/3dc189/56a08d&text=non" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/740bcd/a8e6bc&text=rerum" />
              <b>Clint Bowling</b>
              via
              <b>Clint Weiner</b>
              onto
              <b>voluptatem et</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/2a8573/0f9724&text=numquam" />
              <b>Anahi Goldstein</b>
              <p>Repellat voluptatem perspiciatis repellendus temporibus tempore sunt accusamus facere nam officia sit</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="310px" src="http://placehold.it/192x310px/d10a5b/7c2169&text=beatae" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            4
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/d2e35b/76f4b5&text=repellat" />
              <b>Doris Holloway</b>
              via
              <b>Liliana Hanna</b>
              onto
              <b>et</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="220px" src="http://placehold.it/192x220px/ce3df5/f8354e&text=sed" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            8
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/c97238/a94f08&text=asperiores" />
              <b>Jerald Marsh</b>
              via
              <b>Ana Kane</b>
              onto
              <b>et ullam saepe</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/1d7ac5/84cdb3&text=ipsa" />
              <b>Rogelio James</b>
              <p>Fugit qui voluptas molestias eos</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="180px" src="http://placehold.it/192x180px/9c8231/ae3f57&text=error" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            6
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/9d0742/59cd1f&text=nostrum" />
              <b>Davion Justice</b>
              via
              <b>Tomas Scarborough</b>
              onto
              <b>accusamus</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/93af42/6b40cd&text=aut" />
              <b>Antoinette Middleton</b>
              <p>Sint suscipit est distinctio rem totam id molestiae recusandae dignissimos laboriosam ipsa</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="210px" src="http://placehold.it/192x210px/89b1ea/32d487&text=ea" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            8
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/72b439/0b36c7&text=voluptas" />
              <b>Phil Li</b>
              via
              <b>Ida Graves</b>
              onto
              <b>tempore quia labore</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="230px" src="http://placehold.it/192x230px/7012ac/afc091&text=rerum" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            9
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/693ed7/1c5ae2&text=temporibus" />
              <b>Maisie Schultz</b>
              via
              <b>Zachariah Goldman</b>
              onto
              <b>consectetur</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/2d53ba/f7b60a&text=molestiae" />
              <b>Janet Hester</b>
              <p>Rerum alias ea vitae tempora harum eos numquam optio expedita</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="320px" src="http://placehold.it/192x320px/3be0c8/c32ad5&text=odit" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            2
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/50a2eb/3c1962&text=dolorum" />
              <b>Alonzo Mangum</b>
              via
              <b>Johnny Bowman</b>
              onto
              <b>magnam occaecati qui</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="160px" src="http://placehold.it/192x160px/5619d7/03d289&text=et" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            6
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/a79eb2/630f29&text=in" />
              <b>Johnny Middleton</b>
              via
              <b>Allyson Dougherty</b>
              onto
              <b>et qui qui</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="260px" src="http://placehold.it/192x260px/376cab/b1a625&text=deserunt" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            8
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/85147f/36ca27&text=porro" />
              <b>Virgil Rich</b>
              via
              <b>Maisie Finch</b>
              onto
              <b>quia quia</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/28104a/0cba6e&text=id" />
              <b>Laila Dougherty</b>
              <p>Dolor repellat repudiandae a atque</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="310px" src="http://placehold.it/192x310px/d6820f/f587b3&text=omnis" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            3
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/b26917/be8a04&text=placeat" />
              <b>inn Dunn</b>
              via
              <b>Tracy Davidson</b>
              onto
              <b>enim quo alias</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/47feb9/f69cb5&text=quasi" />
              <b>Anahi Hodge</b>
              <p>Magni eveniet voluptas expedita quod aperiam autem eaque accusamus error</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="190px" src="http://placehold.it/192x190px/0916ca/9eab10&text=ipsum" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            6
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/80f4b5/0b63fa&text=minima" />
              <b>Chris Cowan</b>
              via
              <b>Annika Adkins</b>
              onto
              <b>dolores qui sed</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/e36ca1/f6854a&text=et" />
              <b>Perla Brady</b>
              <p>Perspiciatis labore minima pariatur reiciendis neque eum natus nihil non est quae</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/d4a267/9875ed&text=pariatur" />
              <b>Sonja Love</b>
              <p>Aliquid animi qui harum sint est qui earum doloremque</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="300px" src="http://placehold.it/192x300px/5082a7/428c36&text=perspiciatis" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            8
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/6d8eb0/c6efa0&text=similique" />
              <b>Jamie Rich</b>
              via
              <b>Cathleen Stevenson</b>
              onto
              <b>exercitationem et</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="290px" src="http://placehold.it/192x290px/be5840/a4bd5c&text=officiis" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            6
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/ab4159/61fe09&text=sit" />
              <b>Justice Byrne</b>
              via
              <b>Tomas Pickett</b>
              onto
              <b>at</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/7c569b/715b0a&text=sunt" />
              <b>Cara West</b>
              <p>Vitae velit nihil nemo voluptatibus consectetur</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/96712c/45ebad&text=eveniet" />
              <b>Brayden Schultz</b>
              <p>Eos at soluta consequatur eum modi mollitia fugiat doloribus rerum aut ipsum et commodi</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="280px" src="http://placehold.it/192x280px/390cd5/b96fd4&text=voluptas" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            3
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/3d296a/254cd0&text=rem" />
              <b>Brendan Monroe</b>
              via
              <b>Kelly Monroe</b>
              onto
              <b>et</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="290px" src="http://placehold.it/192x290px/4bc7d5/86c27b&text=qui" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            4
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/e275b8/27e548&text=consequuntur" />
              <b>Maisie Griffin</b>
              via
              <b>Cindy Siegel</b>
              onto
              <b>repellat</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/af421e/1ad47c&text=sint" />
              <b>Eoin Christian</b>
              <p>Hic sed et dolor beatae sit quisquam sunt non</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="210px" src="http://placehold.it/192x210px/cd9128/2db94e&text=aut" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            10
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/47581e/0be56c&text=similique" />
              <b>Alma Diaz</b>
              via
              <b>Penny Glass</b>
              onto
              <b>ex</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/5b348d/03a2c7&text=ut" />
              <b>Colton Lloyd</b>
              <p>Expedita vitae dolorem dolor quia similique tenetur quidem</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/05196f/fdb0ca&text=placeat" />
              <b>Jacquelyn James</b>
              <p>Facilis ut esse aut et nesciunt distinctio libero consectetur beatae</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="240px" src="http://placehold.it/192x240px/cf52a8/85b10a&text=consequuntur" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            2
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/03c74e/e78b62&text=eaque" />
              <b>Skylar Finch</b>
              via
              <b>Ciaran Johnston</b>
              onto
              <b>dolorem</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/d62efc/e72bd1&text=sed" />
              <b>Piper Graves</b>
              <p>Aliquam est dolor illo eum commodi molestiae quae</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/1e0a26/6e2d15&text=similique" />
              <b>Perla Stone</b>
              <p>Atque nesciunt magni quisquam ipsam molestias saepe dicta voluptatibus ut voluptas</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="190px" src="http://placehold.it/192x190px/812475/682a10&text=nam" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            4
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/481d79/246f53&text=ullam" />
              <b>Jean Griffin</b>
              via
              <b>Randal Weinstein</b>
              onto
              <b>maiores</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/61a398/49bd26&text=ut" />
              <b>Esmeralda Eason</b>
              <p>Nihil vel maxime veritatis soluta hic</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/2e7d4c/d971c4&text=consectetur" />
              <b>Ciara Rose</b>
              <p>Alias aspernatur rem omnis libero rerum expedita ut in molestias quis sint quod</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="190px" src="http://placehold.it/192x190px/8a7d42/3504cf&text=aperiam" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            8
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/8cea57/4e2bac&text=amet" />
              <b>Jacquelyn May</b>
              via
              <b>Giselle Chen</b>
              onto
              <b>voluptatum perspiciatis et</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="280px" src="http://placehold.it/192x280px/b2608f/f80a97&text=fugiat" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            4
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/09adc5/3504b1&text=sed" />
              <b>Laila Houston</b>
              via
              <b>Stephanie Woods</b>
              onto
              <b>itaque tempore</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/856fb9/60dfc8&text=eligendi" />
              <b>Daren Carlton</b>
              <p>Omnis repudiandae eius laborum at iure quis est eum perspiciatis</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/c92745/81346b&text=voluptas" />
              <b>Dominick McLaughlin</b>
              <p>Maxime culpa accusamus minus</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="180px" src="http://placehold.it/192x180px/ec12b7/75bf89&text=dolorum" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            6
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/4ea50f/034ae8&text=debitis" />
              <b>Lexi Goldman</b>
              via
              <b>Francesca Nichols</b>
              onto
              <b>debitis tempora</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/7d2efb/9e8a5f&text=porro" />
              <b>Bonita Chappell</b>
              <p>Et minus labore fugiat et sed aut facilis ad ea voluptatem</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="230px" src="http://placehold.it/192x230px/89ad6b/3be75a&text=provident" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            3
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/a4862f/3d24f1&text=adipisci" />
              <b>Lorenzo Branch</b>
              via
              <b>Giselle Middleton</b>
              onto
              <b>optio</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/42cdbf/e3f170&text=inventore" />
              <b>Skyler Thornton</b>
              <p>Assumenda recusandae dolorem nesciunt ducimus nobis</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="190px" src="http://placehold.it/192x190px/718c69/76b259&text=eveniet" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            8
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/c4268d/950f3b&text=nulla" />
              <b>Nadia Golden</b>
              via
              <b>Alfredo McKenna</b>
              onto
              <b>odit illum</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="230px" src="http://placehold.it/192x230px/b736ad/15d427&text=et" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            2
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/5843ed/8fa261&text=eius" />
              <b>Sadie Diaz</b>
              via
              <b>Kelly Proctor</b>
              onto
              <b>suscipit reprehenderit</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="320px" src="http://placehold.it/192x320px/6e180a/7be2a6&text=quo" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            9
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/426ba8/82e65b&text=itaque" />
              <b>Ty Baker</b>
              via
              <b>Elaine Pittman</b>
              onto
              <b>atque praesentium et</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="330px" src="http://placehold.it/192x330px/b618f9/c517bd&text=et" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            10
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/89f6b4/079f13&text=ut" />
              <b>Collin Barr</b>
              via
              <b>Kailey Boykin</b>
              onto
              <b>laborum est delectus</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="280px" src="http://placehold.it/192x280px/47d016/123c69&text=sed" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            7
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/432a17/a9e0f7&text=quidem" />
              <b>Agnes Atkins</b>
              via
              <b>Emma Sinclair</b>
              onto
              <b>esse asperiores et</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/951cb6/20d64f&text=eveniet" />
              <b>Sadie Middleton</b>
              <p>Expedita laboriosam blanditiis consectetur eos qui odio quidem quo</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/86ad72/265bc0&text=quia" />
              <b>Harrison Jennings</b>
              <p>Ipsa rerum quia facilis enim non adipisci et ea voluptate sit nemo dolores</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="170px" src="http://placehold.it/192x170px/ba68e3/0254ab&text=dicta" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            6
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/806527/e6cbfa&text=et" />
              <b>Jordyn Shaffer</b>
              via
              <b>Kaden McLaughlin</b>
              onto
              <b>minima quia eaque</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="170px" src="http://placehold.it/192x170px/a82046/d6afb4&text=quod" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            2
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/b5287d/049e5b&text=consectetur" />
              <b>Kerry Watkins</b>
              via
              <b>Agnes Fox</b>
              onto
              <b>deserunt</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="270px" src="http://placehold.it/192x270px/14efda/06479e&text=at" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            3
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/c783e0/43ad9b&text=eveniet" />
              <b>Caleb Hamilton</b>
              via
              <b>Beau Snyder</b>
              onto
              <b>eligendi</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="270px" src="http://placehold.it/192x270px/7e08d9/6051ea&text=qui" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            4
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/de0972/b1f24d&text=fuga" />
              <b>Alexa Moss</b>
              via
              <b>Sheryl Grant</b>
              onto
              <b>veniam molestias qui</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="300px" src="http://placehold.it/192x300px/452ae0/3a79c2&text=et" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            3
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/410e9b/4b165d&text=quis" />
              <b>Sienna Chandler</b>
              via
              <b>Katie Desai</b>
              onto
              <b>quisquam sint animi</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/92bc7f/03817b&text=fugit" />
              <b>Caitlyn Woodard</b>
              <p>Earum accusantium vel sit et non omnis alias similique ut recusandae facilis quasi soluta</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="210px" src="http://placehold.it/192x210px/d73e9b/2fa356&text=facilis" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            9
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/5f3089/d04978&text=rem" />
              <b>Joann McNamara</b>
              via
              <b>Lexi Kennedy</b>
              onto
              <b>quo quia</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="190px" src="http://placehold.it/192x190px/84e317/96fd0e&text=est" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/3de629/8e0b34&text=eligendi" />
              <b>Elias West</b>
              via
              <b>Moses Byrd</b>
              onto
              <b>impedit possimus nulla</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="230px" src="http://placehold.it/192x230px/e27490/a04c5e&text=perferendis" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            2
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/2ba3d6/bf180a&text=cupiditate" />
              <b>Calum Chung</b>
              via
              <b>Kailey Davis</b>
              onto
              <b>debitis eveniet</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/fa9463/6cdebf&text=nostrum" />
              <b>Dominick Wagner</b>
              <p>Autem sunt fuga officiis eum aut</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="320px" src="http://placehold.it/192x320px/2a06b7/ed256a&text=asperiores" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/f97bc1/2e3081&text=numquam" />
              <b>Kenneth Snyder</b>
              via
              <b>Neil Bowden</b>
              onto
              <b>ut beatae ipsa</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/64023e/6d592b&text=rerum" />
              <b>Kyra Woodard</b>
              <p>Aut eius eos iste quod perspiciatis cum illum magnam vero</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/c53dfb/bf5d6a&text=perferendis" />
              <b>Nolan Sutton</b>
              <p>Sunt ratione reiciendis quisquam sint dignissimos atque laboriosam iste ad optio</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="160px" src="http://placehold.it/192x160px/d0c856/3eb7d2&text=ducimus" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            3
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/26f493/b538e9&text=aut" />
              <b>inn Adkins</b>
              via
              <b>Rylee Welch</b>
              onto
              <b>eum</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="330px" src="http://placehold.it/192x330px/c5b802/95ab21&text=laboriosam" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            4
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/9af1c7/2bdc54&text=modi" />
              <b>Raul Hamilton</b>
              via
              <b>Brooklynn Hamilton</b>
              onto
              <b>fugiat sunt sunt</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/08f3d5/2d3c45&text=atque" />
              <b>inley Thornton</b>
              <p>Consequatur earum dicta molestiae magni rerum dolorem dolores sit</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/b8c5d0/164fa3&text=qui" />
              <b>Clint Raynor</b>
              <p>Fuga aut qui quam ut</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="230px" src="http://placehold.it/192x230px/c4d698/1af9c3&text=enim" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            7
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/961fbd/13ad6e&text=consequatur" />
              <b>Vanessa Bowling</b>
              via
              <b>Jerald Allen</b>
              onto
              <b>non suscipit</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/1f840d/8ceb27&text=odio" />
              <b>Javon Watkins</b>
              <p>Deleniti ea voluptatem omnis eaque doloribus aut voluptates totam quia</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/bcd9fa/e0c847&text=qui" />
              <b>Laila Siegel</b>
              <p>Omnis cum et nemo blanditiis sunt nulla laborum at mollitia accusamus est odio sed quis</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="270px" src="http://placehold.it/192x270px/d218c6/0d4b5c&text=recusandae" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            10
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/61e802/a4de27&text=enim" />
              <b>Tonia Fischer</b>
              via
              <b>Stephanie Raynor</b>
              onto
              <b>ipsa est nulla</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/265190/05eb4d&text=facilis" />
              <b>Preston Henry</b>
              <p>Laborum similique aliquid perferendis autem omnis voluptate magni error et fugit voluptatem sed quis quos</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="330px" src="http://placehold.it/192x330px/05ba17/982573&text=sit" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            2
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/5f4cb6/1346ef&text=omnis" />
              <b>Grady Norman</b>
              via
              <b>Alexa Stevenson</b>
              onto
              <b>dolor</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/62b940/41e653&text=accusamus" />
              <b>Freya Siegel</b>
              <p>Quam ex libero consequatur deserunt hic quia aperiam doloremque ad ea quis aspernatur aut cupiditate</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="230px" src="http://placehold.it/192x230px/3e8bd9/c5d7e0&text=totam" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            8
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/6728cd/130bac&text=neque" />
              <b>Monty Woods</b>
              via
              <b>Judith Butler</b>
              onto
              <b>aut nulla</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="260px" src="http://placehold.it/192x260px/e90a12/51be36&text=repudiandae" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            7
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/653da0/7f2ab8&text=magnam" />
              <b>Lexi Hunt</b>
              via
              <b>Bryce Weinstein</b>
              onto
              <b>consequatur</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/b3f89c/83fc01&text=aut" />
              <b>Zachariah Sharpe</b>
              <p>Aliquid et mollitia quia</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="220px" src="http://placehold.it/192x220px/d5a470/7ec4b3&text=ipsum" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            4
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/ce2814/b196fd&text=culpa" />
              <b>Rolando Siegel</b>
              via
              <b>Sonja Brady</b>
              onto
              <b>illo</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/b5673f/214bde&text=qui" />
              <b>Maggie Nichols</b>
              <p>Deleniti fuga consequatur adipisci</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="320px" src="http://placehold.it/192x320px/80ed47/b1904f&text=assumenda" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            1
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/a1fe53/9602b1&text=ab" />
              <b>Michelle Welch</b>
              via
              <b>Melinda Weiner</b>
              onto
              <b>fugit asperiores id</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/640e81/703da8&text=a" />
              <b>Francesca Vick</b>
              <p>Quia rerum autem doloribus</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="180px" src="http://placehold.it/192x180px/9471ab/f32790&text=aut" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            2
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/10d579/4da237&text=nostrum" />
              <b>Lorie Powers</b>
              via
              <b>Camila Hamilton</b>
              onto
              <b>ducimus ad nemo</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/7e4903/57234a&text=non" />
              <b>Daryl Abrams</b>
              <p>Veritatis ut eius provident voluptatem consequuntur magni qui dolores</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/c541b0/4ad309&text=ut" />
              <b>Kieran Stout</b>
              <p>Doloremque assumenda assumenda enim totam modi minus commodi nobis officiis adipisci</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="220px" src="http://placehold.it/192x220px/09b8c5/457b9c&text=odit" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            8
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/a9e81b/7f4c36&text=aut" />
              <b>Jackie Li</b>
              via
              <b>Quinn Lamb</b>
              onto
              <b>sapiente</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="230px" src="http://placehold.it/192x230px/37a612/4bdca9&text=nihil" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            3
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/7c21d9/3c54e8&text=aliquid" />
              <b>Dora Cain</b>
              via
              <b>Marybeth Abrams</b>
              onto
              <b>ipsa recusandae</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/b10f8e/b86475&text=rem" />
              <b>Annika Christensen</b>
              <p>Non non voluptatum debitis inventore sed eaque deleniti</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="290px" src="http://placehold.it/192x290px/f05326/c2f591&text=delectus" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            4
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/db2815/c51b90&text=quos" />
              <b>Deana Weinstein</b>
              via
              <b>Margarita Solomon</b>
              onto
              <b>ipsum</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/f7b6dc/a7213f&text=qui" />
              <b>Roberto Stevenson</b>
              <p>Saepe est hic harum cumque enim alias rem est sed</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="170px" src="http://placehold.it/192x170px/e2d974/29ba7f&text=et" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            2
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/73b9ea/68a7e0&text=voluptatem" />
              <b>Madeline O'Donnell</b>
              via
              <b>Jared Cain</b>
              onto
              <b>facere exercitationem quia</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/6af394/83af74&text=est" />
              <b>Nia Norman</b>
              <p>Cumque culpa aut beatae et asperiores cum earum aspernatur</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="230px" src="http://placehold.it/192x230px/03b1d8/56794d&text=commodi" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            8
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/146f92/859d01&text=vel" />
              <b>Yvonne Pittman</b>
              via
              <b>Kieran James</b>
              onto
              <b>eligendi</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/0a3db6/276bac&text=cum" />
              <b>Ida Christian</b>
              <p>Quia et rem odit quasi autem</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="240px" src="http://placehold.it/192x240px/e1743d/db8e2f&text=eaque" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            3
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/3d0a74/d946f5&text=voluptas" />
              <b>Agnes Jones</b>
              via
              <b>Beth Glover</b>
              onto
              <b>ea eaque excepturi</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/f14c9b/3264cd&text=officia" />
              <b>Cathleen Walton</b>
              <p>Qui unde dolores architecto exercitationem nesciunt iure voluptatem omnis esse commodi assumenda placeat voluptatem sit</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="160px" src="http://placehold.it/192x160px/df9a36/a6d5b2&text=optio" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            9
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/f6931d/e276c0&text=vel" />
              <b>Vance Chung</b>
              via
              <b>Dulce Brady</b>
              onto
              <b>architecto tempore</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="250px" src="http://placehold.it/192x250px/87d31f/81406f&text=voluptas" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/c4d7ef/018da5&text=accusamus" />
              <b>Penny Heath</b>
              via
              <b>Katie Proctor</b>
              onto
              <b>soluta ullam eveniet</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="230px" src="http://placehold.it/192x230px/8a619e/d2f3ae&text=quod" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            3
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/90ba37/cd7f26&text=in" />
              <b>Shirley Robertson</b>
              via
              <b>Leslie Gray</b>
              onto
              <b>eaque ut maxime</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="170px" src="http://placehold.it/192x170px/b4796e/7edf18&text=molestiae" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            10
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/4dc389/cfd478&text=ipsum" />
              <b>Doris Dougherty</b>
              via
              <b>Deana Middleton</b>
              onto
              <b>laboriosam</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/724fad/058bdf&text=est" />
              <b>Monty Teague</b>
              <p>Occaecati eaque consequatur quis repudiandae sed alias aut</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/096f1b/b32c41&text=minus" />
              <b>Ruby McClure</b>
              <p>Quae ea exercitationem iure fugiat similique</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="310px" src="http://placehold.it/192x310px/24176b/3f08da&text=repellendus" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            6
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/03829a/61742e&text=impedit" />
              <b>Emma Teague</b>
              via
              <b>Madeline Sinclair</b>
              onto
              <b>dolorem occaecati</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="320px" src="http://placehold.it/192x320px/6793cb/b2fa3c&text=aliquam" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            7
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/106e97/f38bd7&text=magni" />
              <b>Daryl Perkins</b>
              via
              <b>Ruben O'Brien</b>
              onto
              <b>autem voluptatem</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="160px" src="http://placehold.it/192x160px/b852e3/4908a5&text=eius" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/e732f8/0ad7e9&text=ipsam" />
              <b>Rolando Barr</b>
              via
              <b>Trisha Watts</b>
              onto
              <b>amet quasi</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/8c2963/e5f3dc&text=voluptatem" />
              <b>Jordyn Watts</b>
              <p>Nisi iure a reiciendis officia aut</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="220px" src="http://placehold.it/192x220px/8dce30/825317&text=repellat" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            10
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/e74580/803e5f&text=sunt" />
              <b>Laila Sutton</b>
              via
              <b>Elise Johnston</b>
              onto
              <b>error dolorum</b>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="160px" src="http://placehold.it/192x160px/326fce/524dac&text=sint" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            4
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/f5d93e/cf7851&text=dolores" />
              <b>Jordyn Moon</b>
              via
              <b>Lynette Heath</b>
              onto
              <b>et harum at</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/28134d/e23fc5&text=ab" />
              <b>Colton Puckett</b>
              <p>Quam rerum quam distinctio quaerat minus iusto animi deleniti dignissimos mollitia</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="290px" src="http://placehold.it/192x290px/9e845b/e2d34b&text=quos" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            1
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/2436e8/8316de&text=a" />
              <b>Jadyn Olsen</b>
              via
              <b>Marybeth Proctor</b>
              onto
              <b>magnam dolor</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/657bda/d4829c&text=voluptatum" />
              <b>Kendrick Jones</b>
              <p>Debitis quia odio voluptatibus sint inventore quod magni quia</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="180px" src="http://placehold.it/192x180px/763b02/b08c73&text=blanditiis" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            5
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/0cef85/da8645&text=sit" />
              <b>Cathleen Rosenthal</b>
              via
              <b>Sheryl Robertson</b>
              onto
              <b>ea</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/df7495/b85320&text=doloremque" />
              <b>Gordon Brady</b>
              <p>Velit eaque sequi inventore</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/14627b/8c9721&text=ea" />
              <b>Tricia Woodard</b>
              <p>Ut veritatis eos harum dicta</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="330px" src="http://placehold.it/192x330px/ef7d95/cd03b7&text=rerum" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            3
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/b7fac6/2d47a8&text=rerum" />
              <b>Ida Singer</b>
              via
              <b>Skyler Hunt</b>
              onto
              <b>voluptatum est beatae</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/073ad2/50496a&text=occaecati" />
              <b>Courtney Byrd</b>
              <p>In aliquid voluptatibus ea</p>
            </div>
          </div>
        </div>
        <div class='item'>
          <img alt="" width="192px" height="290px" src="http://placehold.it/192x290px/9e40f6/c1d543&text=quisquam" />
          <h2 class='lipsum'></h2>
          <div class='comments'>
            4
            comments
          </div>
          <div class='chat'>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/a7d986/638175&text=mollitia" />
              <b>Monty Pearson</b>
              via
              <b>Brendon Hamilton</b>
              onto
              <b>nemo</b>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/a58bf6/5abc93&text=laboriosam" />
              <b>Jadyn Justice</b>
              <p>Voluptatum repudiandae tempora velit excepturi voluptatem at itaque et</p>
            </div>
            <div class='chatbox'>
              <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/f4a01b/f9a2cb&text=omnis" />
              <b>Don McKenzie</b>
              <p>Autem asperiores nemo quibusdam quia a tempora omnis exercitationem quae voluptas aut est deleniti</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
