 <div class="pinning-wrapper">
  <div id='masonry'>
    <% 10.times do %>
    <div class='item'>
      <img alt="" width="<%= a = [192, 168, 230, 300].sample %>px" height="<%= b = [120, 190, 300, 250].sample %>px" src="http://placehold.it/<%= a %>x<%= b %>px/b981a5/305eb8&text=quae" />
      <h2 class='lipsum'></h2>
      <div class='comments'>
        2
        comments
      </div>
      <div class='chat'>
        <div class='chatbox'>
          <img alt="" width="30px" height="30px" src="http://placehold.it/30x30/58d7a1/b1ae63&text=eos" />
          <b>Liliana Hardin</b>
          via
          <b>Cara Mangum</b>
          onto
          <b>dolores</b>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
