<div class="row">
  <div class="span4">
    <div class="well">
      <h3>Share Your Work.</h3>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Brand Yourself.</h3>
      <p></p>
    </div>
  </div>
  <div class="span4">
    <div class="well">
      <h3>Nerd out.</h3>
      <p></p>
    </div>
  </div>
</div>
<hr>
<div class="row-fluid">
  <div class="span4">
    <div class="pad10px">
      <span style="color: rgb(0, 0, 0); font-family: 'News Cycle', 'Arial Narrow Bold', sans-serif; font-size: 28px; font-weight: bold; line-height: 1.2;">Simon Nerdlish</span>
      <br>
      <div class="well margin10px">You have published
        <b>6 papers </b> that have been
        <b>read</b>
        <b>57 times.<br></b>
        <br> You have
        <b>5 peer reviews </b> and
        <b>12 comments.</b>
        <br>
      </div>
      <div></div>
      <div></div>
      <p></p>
      <span class="label label-important"><span style="font-weight: normal;">You have two new notifications.</span>
      </span>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="//app.divshot.com/img/placeholder-64x64.gif" width="45">
        </a>
        <div class="media-body">
          <h5 class="media-heading">George Washington reviewed your paper</h5>
          <p>"A fine work of simian analysis. Clearly..."</p>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="//app.divshot.com/img/placeholder-64x64.gif" width="45">
        </a>
        <div class="media-body">
          <h5 class="media-heading">Justin Bieber commented on your paper</h5>
          <p>"Sick paper dude! I relate strongly to the..."</p>
        </div>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="pad10px">
      <h3>From people you follow</h3>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="//app.divshot.com/img/placeholder-64x64.gif" width="80" height="80">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Paper Name 1</h4>
          <p>
          <small>Author Name</small>
          </p>
          <p class="text-right">This paper is about papers. Meta!
          <br>
          </p>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="//app.divshot.com/img/placeholder-64x64.gif" width="80" height="80">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Paper Name 2</h4>
          <p>
          <small>Author Name</small>
          </p>
          <p class="text-right">This paper is about primates. Monkey!
          <br>
          </p>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="//app.divshot.com/img/placeholder-64x64.gif" width="80" height="80">
        </a>
        <div class="media-body">
          <h4 class="media-heading">Paper Name 3</h4>
          <p>
          <small>Author Name</small>
          </p>
          <p class="text-right">This paper is about nothing. Nietzsche!
          <br>
          </p>
        </div>
      </div>
    </div>
    <div class="media">
      <a class="pull-left" href="#"></a>
      <div class="media-body"></div>
    </div>
    <div class="media">
      <a class="pull-left" href="#"></a>
      <div class="media-body"></div>
    </div>
  </div>
  <div class="pad10px span4">
    <h3>From topics you follow</h3>
    <div class="media">
      <a class="pull-left" href="#"></a>
      <div class="media-body">
        <div class="well">
          <div class="media">
            <a class="pull-left" href="#"></a>
            <div class="media-body">
              <h4 class="media-heading">In History</h4>
              <p>
              <i>"Veniam sapiente doloremque possimus eveniet iusto, accusantium aliquid doloribus quos deleniti ratione, ullamco illo recusandae molestias laborum veritatis conse"</i>
              </p>
            </div>
          </div>
        </div>
        <div class="well">
          <div class="media">
            <a class="pull-left" href="#"></a>
            <div class="media-body">
              <h4 class="media-heading">In Political Science</h4>
              <p>
              <i>"Veniam sapiente doloremque possimus eveniet iusto, accusantium aliquid doloribus quos deleniti ratione, ullamco illo recusandae molestias laborum veritatis conse"</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="media">
      <a class="pull-left" href="#"></a>
      <div class="media-body"></div>
    </div>
  </div>
</div>
<hr>
