<h1>Documents</h1>

<ul>
  <% @documents.each do |document| %>
    <li>
    <%= document %>, created at <%= document.created_at.to_s(:am_pm_long) %><br>
    <%= link_to 'view', document %></li>
  <% end %>
</ul>
