<% title "Upload a document" %>

<%= simple_form_for @document, html: {multipart: true} do |f| %>
  <div class="row-fluid">
    <div class="row">
      <div class="span6">
        <div class="well">
          <%= f.input :name, label: "Document title", hint: "Leave blank to use the uploaded file's name" %>
          <%= f.input :file, label: "Select a file to upload" %>
          <%= f.button :submit, nil, class: 'btn-info' %>
        </div>
      </div>
      <div class="span6">
        <div class="well">
        </div>
      </div>
    </div>
  </div>
<% end %>
