.navbar {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.sign-in-nav .gravatar {
  padding: 5px;
}
.sign-in-nav {
  margin-right: -30px;
  padding-left: 20px;
  padding-top: 10px;
  float: right;
}

a {
  text-decoration: underline;
}
a.noline, a.brand, a.btn {
  text-decoration: none;
}
