*, *:before, *:after {
  @include box-sizing(border-box);
}

input {
  @include box-sizing(content-box);
}

.navbar {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.sign-in-nav .gravatar {
  padding: 5px;
}
.sign-in-nav {
  margin-right: -30px;
  padding-left: 20px;
  padding-top: 10px;
  float: right;
}

a {
  text-decoration: underline;
}
a.noline, a.brand, a.btn {
  text-decoration: none;
}
label.required abbr {
  color: brown;
  margin-left: -10px;
  border-bottom: none !important;
}

input[type="file"] {
  height: 24px;
  line-height: 12px;
}

.timestamp {
  color: #aaa;
  font-size: 9px;
}
