#comments {
  .comment {
    margin-bottom: 10px;
  }

  .by {
    font-size: 12px;
    .display-name {
      text-overflow: ellipsis;
      width: 50px;
      overflow: hidden;
      white-space: nowrap;

      &:hover {
        overflow: visible;
      }
    }
  }

  .comment-body {
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #efefef;
  }
}
